<div class="row text-center align-items-center m-0">
	<h1 class="section-title">About me</h1>
</div>

<div class="row g-4 m-0">
	<div class="col-md-12 d-flex justify-content-center m-100">
		<div class="card w-75">
			<img alt="profile-pic" class="card-img-top mt-4" height="200px" src="../../../../assets/img/profile.svg" width="200px" />

			<div class="card-body text-center">
				<h1>chocoearly44</h1>
				<p style="font-size: 17px;">
					Student, developer, musician, and inventor. Hi, I'm chocoearly44, a software developer from Europe. I've been coding for {{ totalYears }} years and have enjoyed it ever since. My favorite programming language is Java, but I know quite a few others.
				</p>
				<p>
					Feel free to mail me at:
					<a href="mailto:chocoearly44@proton.me">chocoearly44@proton.me</a>
				</p>

				<a href="https://github.com/chocoearly44" target="_blank">
					<fa-icon [icon]="faGithub" class="social-icon github-icon" size="3x"></fa-icon>
				</a>

				<a href="https://instagram.com/chocoearly44" target="_blank">
					<fa-icon [icon]="faInstagram" class="social-icon instagram-icon" size="3x"></fa-icon>
				</a>

				<a href="https://youtube.com/channel/UCJzxD2x2j6Yv-cvdCIVLnbQ" target="_blank">
					<fa-icon [icon]="faYoutube" class="social-icon youtube-icon" size="3x"></fa-icon>
				</a>

				<a href="https://twitter.com/chocoearly44" target="_blank">
					<fa-icon [icon]="faTwitter" class="social-icon twitter-icon" size="3x"></fa-icon>
				</a>

				<a href="https://twitch.tv/chocoearly44" target="_blank">
					<fa-icon [icon]="faTwitch" class="social-icon twitch-icon" size="3x"></fa-icon>
				</a>

				<a href="https://stackoverflow.com/users/9411650/chocoearly44" target="_blank">
					<fa-icon [icon]="faStackOverflow" class="social-icon stackoverflow-icon" size="3x"></fa-icon>
				</a>
			</div>
		</div>
	</div>
</div>
